# Data
data/
*.wav
*.npz

# Models
*.pth
*.pkl

# Python cache
__pycache__/
*.pyc

# Test files
testfiles/

# Supporting files and folders
Screenshots/
scraper.py

# Environment
.MainProjectEnv/
.vscode/