#Data
Dataset/
*.wav


# Models
*.pth

# Python cache
__pycache__/
*.pyc
# model output
*.pkl


__init__.py

#testfiles
testfiles/

# Supporting files and folders
Screenshots/
scraper.py

# Environment
.MainProjectEnv/
.vscode/

#Supporting files and folders
Screenshots/
scraper.py
*.png

# Environment
.MainProjectEnv/
.vscode/

#Environment
MainProjEnv/

