#Data
Dataset/
*.wav



#.npz file
*.npz

# Python cache
__pycache__/
*.pyc

__init__.py

#testfiles
testfiles/

#Supporting files and folders
Screenshots/
scraper.py
*.png

# Environment
.MainProjectEnv/
.vscode/

#Environment
MainProjEnv/

